.header_publication {
    display: block;
    height : 40px;
    width: 100%;
}
.header_publication > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height : 100%;
    width: 100%;
}

.header_publication .profils_name {
    display: flex;
    align-items: center;

    gap: 24px;
    width: auto;
}
.header_publication .profils_name .name {
    font-size: 14px;
    font-weight: 600;
}
.header_publication .profils_name .sup_info {
    font-size: 12px;
    font-weight: 400;
}