.vide {
    display: block;
    height: 100px;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    cursor: pointer;
}


section + section {
    margin-top: 48px;
}

::-webkit-scrollbar {
    background-color: #f9f9f9;
    border: none;
    width: 14px;
    
}

::-webkit-scrollbar-track {
    width: 12px;
    position: fixed;
}
::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    width: 12px;
    border-radius: 12px;
}

a {
    text-decoration: none;
}

.App {
    position: relative;
}